@model ShopWebsite.Models.Product
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

@{
    var authorizationResult = AuthorizationService.AuthorizeAsync(User, "Management");
}

<h2>Product details</h2>
@await Component.InvokeAsync("ProductInfo", new { product = Model })
<br />
<br />
<div>
    <a asp-action="Add" asp-controller="Cart" asp-route-id="@Model.Id">Order</a> |
    @if ((await authorizationResult).Succeeded)
    {
        <span>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        </span>
    }
    <a asp-action="Index">Back to List</a>
</div>