@model ApplicationUser

@{
    ViewData["Title"] = "Choose address";
}

<h2>Choose address to use</h2>
@if (Model.AddressId != null)
{
    <a asp-action="Add" asp-route-addressId="@Model.AddressId.Value">Use my address</a><br />
}
<a asp-action="UpdateAddress">Update and use my address</a><br />
<a asp-action="SetNewAddress">Enter one-time address</a><br />
